<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    
    <div class="column-1">
               

        <form action="/login" method="POST" > 
            <table>
                <tr>
                    <th>Username</th>
                    <td><input type="text" name="username" /></td><br><br>
                </tr>

                <tr>
                    <td></td>
                    <td><button type="submit" >Login</button><br><br>
                </tr>
                                
            </table>  

        </form>

    </div>
</body>
</html>

